/* FIXED CSS FOR MODULE PREVIEW */
.markdown-body {
  font-size: 10px !important;
  background-color: #0000008a !important;
  border: 1px solid white !important;
  width: 100% !important;
}

.markdown-body hr {
  background-color: white !important;
}

.markdown-body table {
  width: 100% !important;
  max-width: 100% !important;
  display: table !important;
  border-collapse: collapse;
  overflow-x: auto !important;
}

.markdown-body th,
.markdown-body td {
  word-wrap: break-word;
  white-space: normal !important;
  padding: 4px 8px;
}

.markdown-body pre {
  overflow-x: auto !important;
  max-width: 100% !important;
  background: #1e1e1e;
  padding: 8px !important;
  border-radius: 4px !important;
}

.markdown-body code {
  background: #1e1e1e !important;
  padding: 2px 4px !important;
  border-radius: 3px !important;
}